$base-color: #fff;
$second-color: #4f8ff0;
.home__page {
  height: 820px;
  background-image: url("../img/background.png");
  h1, a {
    text-transform: uppercase;
  }
  .conteiner {
    padding-top: 260px;
    width: 1090px;
    text-align: center;
    h1:first-child {
      color: $base-color;
      font-size: 30px;
      font-weight: 300;
      line-height: 150%;
    }
    h1 {
      color: $second-color;
      font-size: 56px;
      font-weight: 600;
      line-height: 150%;
    }
    p {
      color: $base-color;
      font-size: 20px;
      font-weight: 400;
      line-height: 120%;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      margin-top: 40px;
      width: 158px;
      height: 49px;
      color: $base-color;
      font-size: 14px;
      font-weight: 900;
      border: 2px solid $second-color;
      background: $second-color;
    }
    a:hover{
      color: $second-color;
      background: $base-color;
    }
  }
}
