$base-color: #fff;
$second-color: #4f8ff0;
.materials {
  margin-bottom: 80px;
  h2 {
    margin-top: 80px;
    text-align: center;
  }
  h2:after {
    content: "";
    margin: 0 auto;
    width: 50px;
    border-bottom: 3px $second-color solid;
    display: block;
    margin-bottom: 24px;
  }
  span {
    display: flex;
    text-align: center;
    margin: 0 auto;
    width: 920px;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
  }
  &__cards {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
  }
  &__card {
    width: 424px;
    height: 481px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h3:first-child {
      font-size: 16px;
      font-weight: 700;
      line-height: 150%;
    }
    p {
      font-size: 12px;
      font-weight: 300;
      line-height: 120%;
    }
    p:last-child {
      font-size: 14px;
      font-weight: 400;
      line-height: 120%;
      padding-bottom: 24px;
    }
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 48px;
    width: 153px;
    height: 49px;
    color: $base-color;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    border: 2px solid $second-color;
    background: $second-color;
  }
  &__disactive {
    display: none;
    background: rgba(79, 143, 240);
    width: 424px;
    height: 270px;
  }
  &__icon {
    margin: 115px 192px;
    display: none;
    align-items: center;
    justify-content: center;
    width: 41.165px;
    height: 40px;
    position: absolute;
    background-color: $base-color;
  }
  a:hover {
    color: $second-color;
    background: $base-color;
  }
  &__card:hover {
    .materials__disactive {
      position: absolute;
      display: block;
      opacity: 0.4;
    }
    .materials__icon{
      display: flex;
    }
    h3 {
      color: $second-color;
    }
  }
}
