@import "header/contacts", "header/menu", "main/home__page", "main/services",
  "main/history", "main/lawyers", "main/reviews", "main/materials", "footer";
@font-face {
  font-family: "Nunito Sans";
  src: url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,600;6..12,700;6..12,800;6..12,900&display=swap");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Nunito Sans";
  color: #222;
}
.conteiner {
  width: 1360px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
h2 {
  font-size: 28px;
  font-weight: 800;
  line-height: 150%;
  text-transform: uppercase;
}
